@import url(../css/reset.css);
@import url(../css/header.css);
@import url(../css/sections/inicial.css);
@import url(../css/sections/services.css);
@import url(../css/sections/works.css);
@import url(../css/sections/comments.css);




body{    
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{

}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
    height: 95vh;
    background-color: #171717;
    color: #CCC;
}

.container_contacts table{
   display: flex;
}

.container_footer{
    width: 99vw;
    height: 10vh;
    background-color: #707070;

}